@import url("https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* General styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

body {
  font-family: "Raleway", sans-serif;
}

.main-body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

p {
  font-size: 90%;
}

.row::after {
  clear: both;
  content: "";
  display: table;
}

/* Top Button */
a.top-btn {
  bottom: 10px;
  color: #5a192f;
  display: none;
  font-size: 40px;
  position: fixed;
  right: 10px;
  z-index: 10;
}
a.top-btn:hover {
  color: #a51445;
}

/* Navigation Bar */
.navbar {
  align-items: center;
  background: #fff;
  color: #850e35;
  display: flex;
  height: 8vh;
  justify-content: space-between;
  padding: 0px 100px;
}

.navbar-item1,
.navbar-name {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar-item1 h2 {
  font-family: "Nova Cut", cursive;
}

.menu-btn {
  display: none;
}

.navbar ul {
  list-style: none;
  margin-left: 100px;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  color: #850e35;
  display: block;
  font-size: 90%;
  padding: 10px 12px;
  text-decoration: none;
}
.navbar ul li a:hover {
  color: #ee6983;
}

.navbar ul li a.navbar-home {
  font-weight: 700;
}
.navbar ul li a.navbar-home:hover {
  color: #850e35;
}

.navbar-item2 span {
  color: #ee6983;
  letter-spacing: 1px;
}

@media screen and (max-width: 1300px) {
  .navbar {
    padding: 10px 50px;
  }

  .navbar-item1,
  .navbar-name {
    width: 100%;
  }

  .navbar-item1 h2 {
    font-size: 120%;
  }

  .menu-btn {
    cursor: pointer;
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .navbar-item2 {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    padding: 10px 30px;
  }
}

/* Section One - Background Image */
.section-one {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/background.jpg") center/cover;
  color: #fff;
  display: flex;
  height: 92vh;
  justify-content: center;
}

.sect1-text {
  padding: 0px 100px;
  top: 0;
  width: 100%;
}

.sect1-text h1 {
  font-family: "Righteous", cursive;
  margin-bottom: 10px;
}

.sect1-text p {
  color: #f2f2f2;
  letter-spacing: 2px;
  line-height: 1.5rem;
  width: 60%;
}

.sect1-text p:first-of-type {
  margin-bottom: 10px;
}

.sect1-text button {
  background-color: #850e35;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 80%;
  letter-spacing: 1px;
  margin-top: 20px;
  padding: 15px 20px;
  text-transform: uppercase;
}
.sect1-text button:hover {
  background-color: #a51445;
}

@media screen and (max-width: 1300px) {
  .sect1-text {
    padding: 0px 50px;
    top: 0;
    width: 100%;
  }

  .sect1-text p {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .sect1-text {
    padding: 0px 30px;
  }

  .sect1-text h1 {
    font-size: 120%;
  }

  .sect1-text p {
    font-size: 80%;
  }

  .sect1-text button {
    font-size: 70%;
    margin-top: 10px;
    padding: 12px 17px;
  }
}

/* Section Two - Services */
.section-two {
  padding: 100px 50px;
}

.sect2-heading {
  color: #5a192f;
  margin-bottom: 20px;
}

.sect2-column {
  float: left;
  height: 250px;
  padding: 0px 10px;
  width: 25%;
}

.sect2-col1 {
  padding-left: 0px;
}

.sect2-col4 {
  padding-right: 0px;
}

.sect2-card {
  border: 1px solid #f190a3;
  cursor: pointer;
  height: 100%;
}
.sect2-card:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.sect2-img {
  border-bottom: 1px solid #f190a3;
  height: 200px;
}

.sect2-img1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect2-img1.jpg") center/cover;
}

.sect2-img2 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect2-img2.jpg") center/cover;
}

.sect2-img3 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect2-img3.jpg") center/cover;
}

.sect2-img4 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect2-img4.jpg") center/cover;
}

.sect2-card h5 {
  align-items: center;
  color: #a51445;
  display: flex;
  height: calc(100% - 200px);
  justify-content: center;
  text-align: center;
  text-decoration: underline;
}

@media screen and (max-width: 970px) {
  .section-two {
    padding: 100px 30px;
    padding-bottom: 50px;
  }

  .sect2-heading {
    color: #5a192f;
    margin-bottom: 15px;
  }

  .sect2-column {
    margin-bottom: 20px;
    padding: 0px;
    width: 100%;
  }

  .sect2-card:hover {
    transform: scale(1.01);
  }
}
@media screen and (min-width: 700px) and (max-width: 970px) {
  .section-two {
    padding: 100px 50px;
    padding-bottom: 50px;
  }
}

/* Section Three - Category */
.section-three {
  background-color: #fff5e4;
  padding: 100px 50px;
}

.sect3-heading {
  color: #5a192f;
  margin-bottom: 20px;
}

.sect3-heading h2 {
  margin-bottom: 5px;
}

.sect3-column {
  float: left;
  height: 190px;
  padding: 0px 10px;
  width: 25%;
}

.sect3-col1 {
  padding-left: 0px;
}

.sect3-col4 {
  padding-right: 0px;
}

.sect3-card {
  border: 1px solid #f190a3;
  color: #5a192f;
  height: 100%;
}

.sect3-img {
  border-bottom: 1px solid #f190a3;
  height: 150px;
}

.img-land {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect3-land.jpg") center/cover;
}

.img-residential {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect3-residential.jpg") center/cover;
}

.img-commercial {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect3-commercial.jpg") center/cover;
}

.img-industrial {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect3-industrial.jpg") center/cover;
}

.sect3-text {
  align-items: center;
  display: flex;
  height: calc(100% - 150px);
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1110px) {
  .section-three {
    padding: 50px 30px;
  }

  .sect3-column {
    margin-bottom: 20px;
    padding: 0px;
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1110px) {
  .section-three {
    padding: 50px;
  }
}

/* Section Four - Resort */
.section-four {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 100px 50px;
}

.sect4-col {
  width: 50%;
}

.sect4-col1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect4-bkg.jpg") center/cover;
  border-radius: 10px;
  height: 320px;
}

.sect4-col2 {
  color: #5a192f;
  padding-left: 15px;
}

.sect4-text {
  margin-bottom: 20px;
}

.sect4-text h3 {
  font-family: "Righteous", cursive;
  margin-bottom: 10px;
}

.sect4-text p {
  letter-spacing: 1.5px;
  line-height: 1.5rem;
}

.sect4-column {
  float: left;
  height: 100px;
  width: 25%;
}

.sect4-column1 {
  padding-left: 0;
}

.sect4-column4 {
  padding-right: 0;
}

.sect4-card {
  cursor: pointer;
  height: 100%;
}
.sect4-card:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

.sect4-img1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect4-img1.jpg") center/cover;
}

.sect4-img2 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect4-img2.jpg") center/cover;
}

.sect4-img3 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect4-img3.jpg") center/cover;
}

.sect4-img4 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect4-img4.jpg") center/cover;
}

.sect4-text2 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.sect4-text2 p span {
  font-weight: 700;
  letter-spacing: 1px;
}

.sect4-text2 p:first-of-type {
  margin-bottom: 5px;
}

.sect4-text2 button {
  background-color: #850e35;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 80%;
  letter-spacing: 1px;
  padding: 12px 17px;
  text-transform: uppercase;
}
.sect4-text2 button:hover {
  background-color: #a51445;
}

@media screen and (max-width: 900px) {
  .section-four {
    display: block;
    padding: 50px 30px;
  }

  .sect4-col {
    width: 100%;
  }

  .sect4-col1 {
    height: 350px;
    margin-bottom: 30px;
  }

  .sect4-col2 {
    padding-left: 0;
  }

  .sect4-text h3 {
    margin-bottom: 5px;
  }

  .sect4-text2 button {
    padding: 10px 15px;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .section-four {
    display: block;
    padding: 100px 50px;
  }

  .sect4-col1 {
    height: 450px;
  }
}

/* Section Five - Property */
.section-five {
  background-color: #fff5e4;
  padding: 100px 50px;
}

.sect5-heading {
  color: #5a192f;
  margin-bottom: 20px;
}

.sect5-column {
  float: left;
  height: 380px;
  padding: 0px 7px;
  width: 20%;
}

.sect5-col1 {
  padding-left: 0px;
}

.sect5-col5 {
  padding-right: 0px;
}

.sect5-card {
  border: 1px solid #f190a3;
  color: #5a192f;
  height: 100%;
}
.sect5-card:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.sect5-img {
  height: 200px;
}

.img-office {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../images/sect5-office.jpg") center/cover;
}

.img-hotel {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../images/sect5-hotel.jpg") center/cover;
}

.img-cottage {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../images/sect5-cottage.jpg") center/cover;
}

.img-mansion {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../images/sect5-mansion.jpg") center/cover;
}

.img-highrise {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../images/sect5-highrise.jpg") center/cover;
}

.sect5-text {
  height: calc(100% - 200px);
  padding: 20px;
  position: relative;
}

.sect5-text h5 {
  margin: 5px 0px;
  margin-top: 10px;
}

.sect5-text p:last-of-type {
  font-size: 80%;
  letter-spacing: 1px;
  line-height: 1.2rem;
}

.sect5-text a {
  color: #5a192f;
  display: inline-block;
  font-size: 90%;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 10px;
}
.sect5-text a:hover {
  text-decoration: none;
}

.sect5-footing {
  align-items: center;
  color: #5a192f;
  display: flex;
  margin-top: 20px;
}

.sect5-footing a {
  color: #5a192f;
  font-size: 90%;
  margin-right: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 1300px) {
  .section-five {
    padding: 50px 30px;
  }

  .sect5-column {
    height: auto;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
  }

  .sect5-card:hover {
    transform: scale(1.01);
  }

  .sect5-img {
    height: 250px;
  }

  .sect5-text {
    height: calc(100% - 250px);
  }

  .sect5-footing {
    margin-top: 0px;
  }
}
@media screen and (min-width: 900px) and (max-width: 1300px) {
  .section-five {
    padding: 50px;
  }
}
@media screen and (max-width: 1300px) and (max-height: 500px) {
  .section-five {
    padding: 50px;
  }
}

/* Section Six - Statement */
.section-six {
  padding: 100px 50px;
}

.sect6-column {
  float: left;
  height: 250px;
  padding: 0px 10px;
  width: 33.33333%;
}

.sect6-col1 {
  padding-left: 0px;
}

.sect6-col3 {
  padding-right: 0px;
}

.sect6-card {
  border: 1px solid #f190a3;
  color: #5a192f;
  height: 100%;
  padding: 30px;
  text-align: center;
}

.sect6-card h3 {
  margin-bottom: 10px;
}

.sect6-card p {
  letter-spacing: 1px;
  line-height: 1.5rem;
}

@media screen and (max-width: 1300px) {
  .section-six {
    padding: 50px 30px;
  }

  .sect6-column {
    height: auto;
    margin-bottom: 20px;
    padding: 0px;
    width: 100%;
  }

  .sect6-card {
    padding: 30px 25px;
    text-align: left;
  }
}
@media screen and (min-width: 900px) and (max-width: 1300px) {
  .section-six {
    padding: 50px;
  }

  .sect6-card {
    padding: 30px;
  }
}
@media screen and (max-width: 1300px) and (max-height: 500px) {
  .section-six {
    padding: 50px;
  }
}

/* Section Seven - The Team */
.section-seven {
  background-color: #fff5e4;
  padding: 100px 50px;
}

.sect7-heading {
  color: #5a192f;
  margin-bottom: 20px;
}

.sect7-heading p {
  margin-bottom: 5px;
}

.sect7-column {
  float: left;
  height: 300px;
  padding: 0px 7px;
  width: 16.66667%;
}

.sect7-col1 {
  padding-left: 0px;
}

.sect7-col6 {
  padding-right: 0px;
}

.sect7-card {
  color: #fff;
  cursor: pointer;
  height: 100%;
  position: relative;
}
.sect7-card:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -5px);
}

.img-worker1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/sect7-img1.jpg") center/cover;
}

.img-worker2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/sect7-img2.jpg") center/cover;
}

.img-worker3 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/sect7-img3.jpg") center/cover;
}

.img-worker4 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/sect7-img4.jpg") center/cover;
}

.img-worker5 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/sect7-img5.jpg") center/cover;
}

.img-worker6 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/sect7-img6.jpg") center/cover;
}

.sect7-text {
  bottom: 10px;
  left: 0;
  padding: 0px 5px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.sect7-text h5 {
  margin-bottom: 7px;
}

@media screen and (max-width: 1000px) {
  .section-seven {
    padding: 50px 30px;
  }

  .sect7-column {
    padding: 0px 3px;
  }

  .sect7-text {
    display: none;
  }
}
@media screen and (max-width: 1000px) and (max-height: 500px) {
  .section-seven {
    padding: 50px;
  }

  .sect7-column {
    padding: 0px 3px;
  }
}

/* Footer */
footer {
  padding: 100px 50px;
}

.footer-column {
  float: left;
  padding: 0px 10px;
  width: 20%;
}

.footer-col1 {
  padding-left: 0;
  padding-right: 20px;
  width: 40%;
}

.footer-col1 p {
  font-size: 80%;
  letter-spacing: 1px;
  line-height: 1.2rem;
}

.footer-col4 {
  padding-right: 0;
}

.footer-card h4 {
  color: #5a192f;
  margin-bottom: 10px;
}

.footer-text h4 {
  margin-bottom: 5px;
}

footer ul {
  list-style: none;
}

footer ul li {
  margin-bottom: 12px;
}

footer ul li a {
  color: #5a192f;
  cursor: pointer;
  display: block;
  font-size: 90%;
  letter-spacing: 1px;
  text-decoration: underline;
}

.footer-text p:first-of-type {
  margin-bottom: 10px;
}

.footer-follow {
  margin-top: 15px;
}

.footer-follow ul,
.footer-follow p {
  display: inline-block;
}

.footer-follow ul li {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 5px;
}

.footer-follow ul li a {
  font-size: 100%;
}

.footer-call {
  margin-top: 10px;
}

@media screen and (max-width: 1300px) {
  footer {
    padding: 50px 30px;
  }

  .footer-column {
    padding: 0px;
    width: 50%;
  }

  .footer-col1 {
    margin-bottom: 40px;
    padding: 0;
    width: 100%;
  }

  .footer-col4 {
    margin-top: 40px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1300px) {
  footer {
    padding: 50px;
  }

  .footer-column {
    padding: 0px;
    width: 33.333%;
  }

  .footer-col1 {
    margin-bottom: 40px;
    padding: 0;
    width: 100%;
  }

  .footer-col4 {
    margin-top: 0;
  }
}
@media screen and (max-width: 1300px) and (max-height: 500px) {
  footer {
    padding: 50px;
  }
}

/* Responsive Navbar */
.responsive {
  background-color: #fff;
  height: 100vh;
  padding: 10px 30px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  width: 100%;
  z-index: 11;
}

@keyframes responsiveBarAppear {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes responsiveBarDisappear {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.responsive-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.responsive-item h2 {
  font-family: "Nova Cut", cursive;
  font-size: 120%;
}

.responsive-close-btn {
  color: #850e35;
  cursor: pointer;
  font-size: 50px;
  transform: rotateZ(45deg);
}

.responsive ul {
  list-style: none;
  margin-top: 20px;
}

.responsive ul li {
  margin-bottom: 20px;
  text-align: center;
}

.responsive ul li a {
  color: #850e35;
  display: block;
  padding: 10px 0px;
  text-decoration: none;
}

.responsive ul li a.responsive-home {
  font-weight: 700;
}
.responsive ul li a.responsive-home:hover {
  color: #850e35;
}

/* Contact Pop-up form */
.contact-form {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}

.contact-close-btn {
  color: #fff;
  cursor: pointer;
  font-size: 35px;
  position: absolute;
  right: -15px;
  top: -25px;
  transform: rotateZ(45deg);
  z-index: 2;
}

.contact-form form {
  background-color: #850e35;
  color: #fff;
  padding: 30px;
  width: 400px;
}

.contact-form-item {
  position: relative;
}

.contact-form form label {
  display: inline-block;
  margin-bottom: 8px;
}

.contact-form form input {
  background-color: inherit;
  border: 1px solid;
  border-radius: 7px;
  color: #fff;
  margin-bottom: 20px;
  padding: 7px;
  width: 100%;
}

.contact-form form textarea {
  background-color: inherit;
  border: 1px solid;
  color: #fff;
  height: 130px;
  padding: 7px;
  width: 100%;
}

.contact-form form input:hover,
.contact-form form textarea:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.contact-btn {
  margin-top: 20px;
  text-align: right;
}

.contact-btn button {
  background-color: inherit;
  border: 1px solid;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 70%;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 15px;
  text-transform: uppercase;
}
.contact-btn button:hover {
  background-color: #fff;
  color: #850e35;
}

@media screen and (max-width: 500px) {
  .contact-form-item {
    height: 100%;
    position: relative;
    width: 100%;
  }

  .close-btn {
    right: -20px;
    top: -25px;
  }

  .contact-form form {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}

/* Service Pop-up */
.service-marketing,
.service-pricing,
.service-negotiation,
.service-inspection {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}

.service-marketing-content,
.service-pricing-content,
.service-negotiation-content,
.service-inspection-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.service-marketing-items,
.service-pricing-items,
.service-negotiation-items,
.service-inspection-items {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 800px;
}

.service-marketing-box1,
.service-pricing-box1,
.service-negotiation-box1,
.service-inspection-box1 {
  border-right: 1px solid #a9a9a9;
  height: 100%;
  width: 300px;
}

.service-marketing-box2,
.service-pricing-box2,
.service-negotiation-box2,
.service-inspection-box2 {
  height: 100%;
  padding: 30px;
  width: calc(100% - 300px);
}

.service-marketing-box2 h2,
.service-pricing-box2 h2,
.service-negotiation-box2 h2,
.service-inspection-box2 h2 {
  color: #5a192f;
  margin-bottom: 10px;
}

.service-marketing-box2 p,
.service-pricing-box2 p,
.service-negotiation-box2 p,
.service-inspection-box2 p {
  line-height: 1.5rem;
  margin-bottom: 10px;
}

.service-marketing-close p,
.service-pricing-close p,
.service-negotiation-close p,
.service-inspection-close p {
  background-color: #850e35;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 80%;
  padding: 10px 15px;
  text-transform: uppercase;
}
.service-marketing-close p:hover,
.service-pricing-close p:hover,
.service-negotiation-close p:hover,
.service-inspection-close p:hover {
  background-color: #a51445;
}

/* Service Pop-up - Marketing */
.service-marketing-items {
  height: 350px;
}

.service-marketing-box1 {
  background: url("../images/sect2-img1.jpg") center/cover;
}

/* Service Pop-up - Pricing */
.service-pricing-items {
  height: 390px;
}

.service-pricing-box1 {
  background: url("../images/sect2-img2.jpg") center/cover;
}

/* Service Pop-up - Negotiation */
.service-negotiation-items {
  height: 400px;
}

.service-negotiation-box1 {
  background: url("../images/sect2-img3.jpg") center/cover;
}

/* Service Pop-up - Inspection */
.service-inspection-items {
  height: 310px;
}

.service-inspection-box1 {
  background: url("../images/sect2-img4.jpg") center/cover;
}

@media screen and (max-width: 850px) {
  .service-marketing,
  .service-pricing,
  .service-negotiation,
  .service-inspection {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .service-marketing-items,
  .service-pricing-items,
  .service-negotiation-items,
  .service-inspection-items {
    background-color: inherit;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .service-marketing-box1,
  .service-pricing-box1,
  .service-negotiation-box1,
  .service-inspection-box1 {
    display: none;
  }

  .service-marketing-box2,
  .service-pricing-box2,
  .service-negotiation-box2,
  .service-inspection-box2 {
    background-color: #850e35;
    bottom: 0;
    color: #fff;
    height: auto;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .service-marketing-box2 h2,
  .service-pricing-box2 h2,
  .service-negotiation-box2 h2,
  .service-inspection-box2 h2 {
    color: #fff;
  }

  .service-marketing-box2 p,
  .service-pricing-box2 p,
  .service-negotiation-box2 p,
  .service-inspection-box2 p {
    font-size: 80%;
  }

  .service-marketing-close p,
  .service-pricing-close p,
  .service-negotiation-close p,
  .service-inspection-close p {
    border: 1px solid;
    font-size: 80%;
    padding: 8px 13px;
  }
}

/* Resort Pop-up */
.resort-img1,
.resort-img2,
.resort-img3,
.resort-img4 {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}

.resort-img1-item,
.resort-img2-item,
.resort-img3-item,
.resort-img4-item {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.resort-img1-close,
.resort-img2-close,
.resort-img3-close,
.resort-img4-close {
  color: #fff;
  cursor: pointer;
  font-size: 60px;
  position: absolute;
  right: 15px;
  top: 0;
  transform: rotateZ(45deg);
}

.resort-img1-card,
.resort-img2-card,
.resort-img3-card,
.resort-img4-card {
  height: 80%;
  width: 70%;
}

/* Resort Pop-up - Image 1 */
.resort-img1-card {
  background: url("../images/sect4-img1.jpg") center/cover;
}

/* Resort Pop-up - Image 2 */
.resort-img2-card {
  background: url("../images/sect4-img2.jpg") center/cover;
}

/* Resort Pop-up - Image 3 */
.resort-img3-card {
  background: url("../images/sect4-img3.jpg") center/cover;
}

/* Resort Pop-up - Image 4 */
.resort-img4-card {
  background: url("../images/sect4-img4.jpg") center/cover;
}

@media screen and (max-width: 1300px) {
  .resort-img1-card,
  .resort-img2-card,
  .resort-img3-card,
  .resort-img4-card {
    height: 50%;
    width: 94%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1300px) {
  .resort-img1-card,
  .resort-img2-card,
  .resort-img3-card,
  .resort-img4-card {
    height: 80%;
    width: 90%;
  }
}
@media screen and (max-width: 1300px) and (max-height: 500px) {
  .resort-img1-card,
  .resort-img2-card,
  .resort-img3-card,
  .resort-img4-card {
    height: 80%;
    width: 90%;
  }
}

/* Team Pop-up */
.team-worker1,
.team-worker2,
.team-worker3,
.team-worker4,
.team-worker5,
.team-worker6 {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}

.team-worker1-item,
.team-worker2-item,
.team-worker3-item,
.team-worker4-item,
.team-worker5-item,
.team-worker6-item {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.team-worker1-box,
.team-worker2-box,
.team-worker3-box,
.team-worker4-box,
.team-worker5-box,
.team-worker6-box {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 370px;
  justify-content: center;
  width: 800px;
}

.team-worker1-box1,
.team-worker2-box1,
.team-worker3-box1,
.team-worker4-box1,
.team-worker5-box1,
.team-worker6-box1 {
  height: 100%;
  width: 30%;
}

.team-worker1-box2,
.team-worker2-box2,
.team-worker3-box2,
.team-worker4-box2,
.team-worker5-box2,
.team-worker6-box2 {
  height: 100%;
  padding: 20px 30px;
  width: 70%;
}

.team-worker1-box2 h3,
.team-worker2-box2 h3,
.team-worker3-box2 h3,
.team-worker4-box2 h3,
.team-worker5-box2 h3,
.team-worker6-box2 h3 {
  color: #5a192f;
  margin-bottom: 10px;
}

.team-worker1-box2 h3 span,
.team-worker2-box2 h3 span,
.team-worker3-box2 h3 span,
.team-worker4-box2 h3 span,
.team-worker5-box2 h3 span,
.team-worker6-box2 h3 span {
  font-size: 90%;
  text-transform: capitalize;
}

.team-worker1-box2 p,
.team-worker2-box2 p,
.team-worker3-box2 p,
.team-worker4-box2 p,
.team-worker5-box2 p,
.team-worker6-box2 p {
  font-size: 80%;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

.team-worker1-box2 p:first-of-type,
.team-worker2-box2 p:first-of-type,
.team-worker3-box2 p:first-of-type,
.team-worker4-box2 p:first-of-type,
.team-worker5-box2 p:first-of-type,
.team-worker6-box2 p:first-of-type {
  margin-bottom: 5px;
}

.team-worker1-box2 a,
.team-worker2-box2 a,
.team-worker3-box2 a,
.team-worker4-box2 a,
.team-worker5-box2 a,
.team-worker6-box2 a {
  background-color: #850e35;
  border: 1px solid;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 80%;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 20px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.team-worker1-box2 a:hover,
.team-worker2-box2 a:hover,
.team-worker3-box2 a:hover,
.team-worker4-box2 a:hover,
.team-worker5-box2 a:hover,
.team-worker6-box2 a:hover {
  background-color: inherit;
  color: #5a192f;
}

a.team-worker1-close,
a.team-worker2-close,
a.team-worker3-close,
a.team-worker4-close,
a.team-worker5-close,
a.team-worker6-close {
  background-color: inherit;
  color: #5a192f;
  margin-left: 10px;
}
a.team-worker1-close:hover,
a.team-worker2-close:hover,
a.team-worker3-close:hover,
a.team-worker4-close:hover,
a.team-worker5-close:hover,
a.team-worker6-close:hover {
  background-color: #850e35;
  color: #fff;
}

/* Team Pop-up - Worker 1 */
.team-worker1-box1 {
  background: url("../images/sect7-img1.jpg") center/cover;
}

/* Team Pop-up - Worker 2 */
.team-worker2-box1 {
  background: url("../images/sect7-img2.jpg") center/cover;
}

/* Team Pop-up - Worker 3 */
.team-worker3-box1 {
  background: url("../images/sect7-img3.jpg") center/cover;
}

/* Team Pop-up - Worker 4 */
.team-worker4-box1 {
  background: url("../images/sect7-img4.jpg") center/cover;
}

/* Team Pop-up - Worker 5 */
.team-worker5-box1 {
  background: url("../images/sect7-img5.jpg") center/cover;
}

/* Team Pop-up - Worker 6 */
.team-worker6-box1 {
  background: url("../images/sect7-img6.jpg") center/cover;
}

@media screen and (max-width: 600px) {
  .team-worker1-box,
  .team-worker2-box,
  .team-worker3-box,
  .team-worker4-box,
  .team-worker5-box,
  .team-worker6-box {
    height: 400px;
  }

  .team-worker1-box2,
  .team-worker2-box2,
  .team-worker3-box2,
  .team-worker4-box2,
  .team-worker5-box2,
  .team-worker6-box2 {
    padding: 20px;
  }

  .team-worker1-box2 h3 span,
  .team-worker2-box2 h3 span,
  .team-worker3-box2 h3 span,
  .team-worker4-box2 h3 span,
  .team-worker5-box2 h3 span,
  .team-worker6-box2 h3 span {
    font-size: 80%;
  }

  .team-worker1-box2 p,
  .team-worker2-box2 p,
  .team-worker3-box2 p,
  .team-worker4-box2 p,
  .team-worker5-box2 p,
  .team-worker6-box2 p {
    font-size: 75%;
  }

  .team-worker1-box2 p:first-of-type,
  .team-worker2-box2 p:first-of-type,
  .team-worker3-box2 p:first-of-type,
  .team-worker4-box2 p:first-of-type,
  .team-worker5-box2 p:first-of-type,
  .team-worker6-box2 p:first-of-type {
    margin-bottom: 3px;
  }

  .team-worker1-box2 a,
  .team-worker2-box2 a,
  .team-worker3-box2 a,
  .team-worker4-box2 a,
  .team-worker5-box2 a,
  .team-worker6-box2 a {
    font-size: 70%;
    margin-top: 10px;
    padding: 10px 15px;
  }

  a.team-worker1-close,
  a.team-worker2-close,
  a.team-worker3-close,
  a.team-worker4-close,
  a.team-worker5-close,
  a.team-worker6-close {
    margin-left: 5px;
  }
}
@media screen and (max-width: 350px) {
  .team-worker1-box,
  .team-worker2-box,
  .team-worker3-box,
  .team-worker4-box,
  .team-worker5-box,
  .team-worker6-box {
    height: 70vh;
  }
}
@media screen and (max-width: 260px) {
  .team-worker1-box,
  .team-worker2-box,
  .team-worker3-box,
  .team-worker4-box,
  .team-worker5-box,
  .team-worker6-box {
    height: 100vh;
  }
}
